// src/assets/styles/_variables.scss

$happy-gradient: linear-gradient(to bottom, #ffe259, #ffa751);
$sad-gradient: linear-gradient(to bottom, #83a4d4, #b6fbff);
$neutral-gradient: linear-gradient(to bottom, #e0eafc, #cfdef3);
$angry-gradient: linear-gradient(to bottom, #f85032, #e73827);
$excited-gradient: linear-gradient(to bottom, #fc6076, #ff9a44);

$font-stack: "Segoe UI", sans-serif;
$base-bg: #f9f9f9;
