// src/assets/styles/moodThemes.scss
@use "./variables" as *;

.app.happy {
  background: $happy-gradient;
}

.app.sad {
  background: $sad-gradient;
}

.app.neutral {
  background: $neutral-gradient;
}

.app.angry {
  background: $angry-gradient;
}

.app.excited {
  background: $excited-gradient;
}
